
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Milestones</h5>
    <h6 class="card-subtitle mb-2 text-muted">An ECS Academy blog</h6>
    <div class="myDiv"><object class= "myObj" style="width:100%; height:400px;" data="milestones.txt"></object></div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">DevOps at scale</h5>
    <h6 class="card-subtitle mb-2 text-muted">An ECS Academy blog</h6>
    <object style="width:100%; height:400px;" data="idc.txt"></object>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Teaching</h5>
    <h6 class="card-subtitle mb-2 text-muted">An ECS Academy blog</h6>
    <object style="width:100%; height:400px;" data="teaching.txt"></object>
  </div>
</div>